{% extends 'index.html' %}

{% block content %}
<div>
    <button type="button" onclick="window.location.href='/servico/addServico'">Adicionar Servico</button>
</div>

<div>
    <button type="button" onclick="window.location.href='/servico/alterarServico/<int:id>'">Atualizar Informções do
        Servico</button>
</div>

<div>
    <button type="button" onclick="window.location.href='/servico/deletarServico/<int:id>'">Deletar
        Servico</button>
</div>

<div>
    <button type="button" onclick="window.location.href='/servico/addCategoria/'">Adicionar tipos de servicos</button>
</div>

<div>
    <button type="button" onclick="window.location.href='/servico/alterarCategoria/<int:id>/'">Alterar categoria</button>
</div>

<div>
    <button type="button" onclick="window.location.href='/servico/deletarCategoria/<int:id>/'">Deletar categoria</button>
</div>

<div class="container-fluid carousel-header px-0">
    {% include 'servico/__carouselStart.html' %}
</div>

<div class="container-fluid carousel-header px-0">
    {% include 'servico/__servicesStart.html' %}
</div>
{% endblock %}