{% extends 'index.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST" class="p-4 rounded shadow-sm" style="background-color:#FBCBF2;" id="formulario">
                {% csrf_token %}
        
                <!-- Renderiza os campos individuais, exceto o campo servico -->
                {{ formCliente }}
                
                {% for campo in formAgendaServico %}
                {% if campo.name != 'servico' %}
                <div class="mb-3">
                    {{ campo.label_tag }}
                    {{ campo }}
                    {{ campo.errors }}
                </div>
                {% endif %}
                {% endfor %}
                <!-- Mostrar o campo de selecionar servicos dentro de uma caixa com scroll -->
                <div class="card shadow-sm mb-4">
                    <div class="card-header bg-primary text-white">
                        <h5 class="mb-0">Serviços disponíveis</h5>
                    </div>
                    <!-- exibe no template se caso ocorrer um erro ao redenrizar os erros -->
                    <div class="card-body p-3" style="max-height: 250px; overflow-y: auto;">
                        {% if formAgendaServico.servico.errors %}
                        <div class="text-danger mb-2">
                            {{ formAgendaServico.servico.errors }}
                        </div>
                        {% endif %}
                        <!-- Mostrar todos os servicos para o administrador selecionar -->
                         <!-- Campos de multiplaescolha -->
                        {% for servico in formAgendaServico.servico %}
                        <div class="form-check mb-2">
                            {{ servico.tag }}
                            <label class="form-check-label ms-2">{{servico.choice_label }}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
        
                <button type="submit" class="btn" style="background-color: #DBB8E3">Salvar</button>
            </form>
        </div>

    </div>
</div>
{% endblock %}