{% extends 'indexCliente.html' %}

{% block content %}
<div id="carouselId" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner" role="listbox">
        {% for categoria, servicos in servicoPorCategoria.items %}
        {% for servico in servicos %}
        <div class="carousel-item {% if forloop.parentloop.first and forloop.first %} active {% endif %}">
            <img src="{{ servico.imagem.url }}" class="img-fluid" alt="Image">
            <div class="carousel-caption">
                <div class="p-3" style="max-width: 900px;">
                    <h1 class="display-1 text-capitalize text-dark mb-3">{{ categoria }}</h1>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock &}