{% extends 'indexForm.html' %}

{% block content %}
<a href="/administrador/index/" class="btn btn-light btn-sm">Voltar</a>
<div class="d-flex justify-content-center align-items-center m-3">
    
    <form method="POST" action="" class="p-4 bg-info rounded shadow-sm" style="background-color:#FBCBF2;" id="formulario">
        
        {% csrf_token %}

        {{form_user}}
        {{ form }}

        <!-- Editar administrador -->
         {{editarUserForm}}
        {{editarAdministradorForm}}
    
        <button type="submit">Salvar</button>
    </form>
</div>


{% endblock %}